body,
html {
    height: 100%;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.logo-header {
    margin-left: -14px;
    width: 150px;
    content: url(../../images/logo-procyon.png);
}

/* unvisited link */
a.conf:link {
    color: rgb(36, 34, 34);
}
  
/* visited link */
a.conf:visited {
    color: rgb(36, 34, 34);
}
  
/* mouse over link */
a.conf:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    color: rgb(36, 34, 34);
    background-color: cornflowerblue;
}
  
/* selected link */
a.conf:active {
    color: rgb(36, 34, 34);
}